[class*=grid-] {
    clear: both;
    display: grid;
    gap: var(--gap, 1vw);
    margin-bottom: var(--g-m-b, 1vw);
    grid-template-columns: var(--col);
}
[class*=grid-] > li {
    list-style: none;
}
ul[class*=grid-] {
    margin-left: 0;
}
.gap-0 {
    --gap: 0;
}
.gap-2 {
    --gap: 2vw;
}
.gap-3 {
    --gap: 3vw;
}
.gap-4 {
    --gap: 4vw;
}
.grid-2 {
    --col: repeat(2, 1fr);
}
.grid-3 {
    --col: repeat(3, 1fr);
}
.grid-4 {
    --col: repeat(4, 1fr);
}
.grid-5 {
    --col: repeat(5, 1fr);
}
.grid-6 {
    --col: repeat(6, 1fr);
}
.grid-1-2 {
    --col: 1fr 2fr;
}
.grid-2-1 {
    --col: 2fr 1fr;
}
.grid-1-3 {
    --col: 1fr 3fr;
}
.grid-3-1 {
    --col: 3fr 1fr;
}
.phone-show, .pad-show {
    display: none;
}
@media (max-width: 769px) {
    [class*=grid-] {
        display: block;
    }
    [class*=grid-] > * {
        margin-bottom: 1rem !important;
        display: block;
    }
    [class*=phone-grid], [class*=phone-grid].phone-show {
        display: grid !important;
        --gap: 3vw;
        grid-template-columns: var(--phone-col, --col);
    }
    .phone-grid2 {
        --phone-col: repeat(2, 1fr) !important;
    }
    .phone-scroll {
        overflow: scroll;
    }
    .phone-scroll > [class*=grid-] {
        width: 240vw;
        display: grid !important
    }
    .phone-hide {
        display: none !important;
    }
    .phone-show {
        display: block !important;
    }
    .phone-revers {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .phone-revers > *:last-child  {
        order: -1;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    [class*=pad-grid], [class*=pad-grid].pad-show  {
        display: grid !important;
        grid-template-columns: var(--pad-col, --col);
    }
    .pad-grid2 {
        --pad-col: repeat(2, 1fr);
    }
    .pad-grid3 {
        --pad-col: repeat(3, 1fr);
    }
    .pad-hide {
        display: none !important;
    }
    .pad-show {
        display: block !important;
    }
}
@media  (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

    [class*=pad-port-grid], [class*=pad-port-grid].pad-show  {
        display: grid !important;
        grid-template-columns: var(--pad-port-col, --col);
    }
    .pad-port-grid2 {
        --pad-port-col: repeat(2, 1fr);
    }
}


