@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --f-size: 1.1rem;
}
.main {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
section.box- {
    background: #f3f3f3;
    padding:1rem;
    border-radius: 5px;
}
.box- {
    margin-top: 1rem;
    text-align: center;
}
.box- [class*=grid-]> div, .box- [class*=grid-]> li {
    background: orange;
    padding: 10px;
    border-radius: 5px;
}
h1 {
    --f-size: 3rem;
}
.red {
    --color: red;
}
h3 {
    --color: #484848;
    --f-size: 2rem;
    margin: 3rem auto;
    text-align: center;
}
h4, h5  {
    --color: #484848;
    --f-size: 1.5rem;
    margin: 2rem 0;
}
h5{
    --f-size: 1.2rem;
}
.pre {
    width: 500px;
    margin: 2rem auto;
    font-family: "Open Sans", sans-serif;
}
.box-border > div {
    border: 3px solid #e7e7e7;
    padding: 3rem 1rem 2rem 5rem;
    border-radius: 5px;
    --f-size: 1.2rem;
    --color: #3e3e3e;
}

